In [18]:
import pandas as pd

In [19]:
df =  pd.read_csv('../../res/weightdata.csv')

In [20]:
weights = df['Weight(Pounds)']

In [21]:
Q1 = weights.quantile(0.25)
Q3 = weights.quantile(0.75)

IQR = Q3 - Q1

In [22]:
threshold = 1.5

outliers = df[(df['Weight(Pounds)'] > Q3 + ( threshold * IQR ) ) | ( df['Weight(Pounds)'] < ( Q1 - ( threshold * IQR )) )]
outliers

       Index  Weight(Pounds)
156      157       158.95620
249      250        84.35980
293      294        92.74955
367      368       168.22900
446      447       162.41090
...      ...             ...
24187  24188       161.85040
24610  24611        82.38298
24750  24751       159.63440
24835  24836        94.40946
24889  24890       161.85320

[191 rows x 2 columns]